<div>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Index" role="button">1. Give me the total number of non-active devices for the VLAN 3 </a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query2" role="button">2. Give me the email to all devices that are connected to VLAN 4, that can
            no longer be used
            Query</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query3" role="button">3. Give me the 100 devices that have been online for the longest time</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query4" role="button">4. Give me all devices that have been authenticated more than half a year ago.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Index" role="button">Femth
            Query</a>
    </p>

</div>