<div>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Index" role="button">1. Give me the 100 devices that have been online for the longest time </a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query2" role="button">2. Query </a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query4" role="button">3. Give me all devices that have been authenticated more than half a year ago
            </a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query4" role="button">4. Query </a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query2" role="button">5. Give me a list of user emails to all devices that are connected to VLAN 4 that can no longer be used
            </a>
    </p>

     <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query5" role="button">6. Give me a list of all the different VLANs and show me how many active devices are on each.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query3" role="button">7. Give me the total number of non-active devices for the VLAN 3 </a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query8" role="button">8. Query </a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query9" role="button">9. Query </a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query10" role="button">10. Query </a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query11" role="button">11. Query  </a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-success btn-lg btn-block asp-area=" asp-controller="MongoDB"
            asp-action="Query12" role="button">12. Query </a>
    </p>

</div>