<div>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice1" role="button">1. Give me the 100 devices that have been online for the longest time.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice2" role="button">2. Give me the previous query, but only student devices.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice3" role="button">3. Give me a list of all devices that have been authenticated more than a year ago.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice4" role="button">4. Give me a list of all active user emails on a specific VLAN.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice5" role="button">5. Give me a list of user emails to all devices that are connected to a VLAN that can no longer be used.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice6" role="button">6. Give me a list of all the different VLANs and show me how many active devices are on each.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice7" role="button">7. Give me the total number of non-active devices for the given VLAN.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice8" role="button">8. Give me a list of all user emails and their total number of devices.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice9" role="button">9. Give me all devices connected/active the whole time between the dates "01.01.2021" to "01.02.2021".</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice10" role="button">10. Give me the average of how many days before a device is authenticated (connected for the first time) after it is created.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice11" role="button">11. Give me the average of how many days a device lay dormant in the system before it becomes inactive.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="Juice12" role="button">12. Give me the average data usage for all student devices.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-info btn-block asp-area=" asp-controller="MySQL"
            asp-action="CreateNode" role="button">TEST----------------</a>
    </p>


</div>