<div>
    @* <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo1" role="button">1 Query</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo2" role="button">2 Query</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo3" role="button">3 Query</a>
    </p> *@
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo4" role="button">4. Give me a list of all active user emails on a specific VLAN.</a>
    </p>
    @* <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo5" role="button">5 Query</a>
    </p> *@
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo6" role="button">6. Give me a list of all the different VLANs and show me how many active devices are on each.</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo7" role="button">7. Give me the total number of non-active devices for the given VLAN.</a>
    </p>
    @* <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo8" role="button">8 Query</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo9" role="button">9 Query</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo10" role="button">10 Query</a>
    </p>
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo11" role="button">11 Query</a>
    </p> *@
    <p class="lead">
        <a style="margin-top:55px" class="btn btn-outline-primary btn-block asp-area=" asp-controller="Neo4j"
            asp-action="Neo12" role="button">12. Give me the average data usage for all student devices.</a>
    </p>


</div>