@using MongoDB.Bson;
@model List<String>


<h1>Give me the average data usage for all student devices.</h1>
<h4>Average bytes of download for student devices</h4>


@foreach (var item in Model) {
        <tr>
            <td>
                @item<br/>
            </td>
        </tr>
}