@using MongoDB.Bson;
@model List<String>


<h1>Give me a list of all the different VLANs and show me how many active devices are on each.</h1>
<h4>Vlan | Number of MAC addresses</h4>


@foreach (var item in Model) {
        <tr>
            <td>
                @item<br/>
            </td>
        </tr>
}