@using MongoDB.Bson;
@model List<String>


<h1>Give me a list of all active user emails on a specific VLAN.</h1>
<h4>Vlan  &nbsp;&nbsp; &nbsp;&nbsp; Email</h4>


@foreach (var item in Model) {
        <tr>
            <td>
                @item<br/>
            </td>
        </tr>
}